$blanco: #ffffff;
$verde: #17403f;
$gris: #b8c6c5;
$gris2: #f9f9f9;
$fondo: #fbfbfc;
$amarillo: #ffbe3f;
body{
    margin: 0;
    font-family: 'Encode Sans', sans-serif;
    background-color: $fondo;
}
.contenedor {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
span.marcador {
    flex-basis: 100%;
    color: $amarillo;
    font-size: 9pt;
    font-weight: 500;
    margin-bottom: 20px;
    &:before {
        content: '---';
        letter-spacing: -2px;
        margin-right: 5px;
    }
}
//Reglas generales
header{
    background-color: $verde;
    color: $blanco;
    position: relative;
    .contenedor{
        flex-direction: column;
        a {
            text-decoration: none;
            color: $blanco;
            font-size: 10pt;
            &.conBorde{
                border: 1px solid $blanco;
                padding: 10px 30px;
                border-radius: 25px;
                &.relleno {
                    background: $blanco;
                    color: $verde;
                    margin: 10px;
                }
            }
        }
        .menu {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .logo {
                background-image: url('dorry/logo.png');
                height: 80px;
                width: 80px;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
            }
            ul {
                margin: 0;
                padding: 0;
                display: flex;
                justify-content: space-between;
                flex-grow: 1;
                padding: 0 100px;
            }
            li {
                list-style: none;
            }
        }
        .contenido {
            width: 70%;
            margin: 0 auto;
            h1 {
                text-align: center;
                font-size: 30pt;
            }
            p {
                text-align: center;
                color: $gris;
                font-size: 10pt;
                margin: 0 10%;
            }
        }
        .acciones {
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        video{
            width: 75%;
            z-index: 1;
            margin: 0 auto;
        }
        &:after {
            content: '';
            background: $blanco;
            height: 200px;
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 0;
        }
    }
} //header
footer{
    height: 400px;
}//footer
section.indicadores{
    padding: 30px 0;
    h5 {
        font-size: 16pt;
        text-align: center;
        margin: 0;
    }
    span {
        font-size: 9pt;
        color: $gris;
    }
}//indicadores
section.serviciostexto{
    margin-bottom: 30px;
    .titulo {
        font-size: 24pt;
        font-weight: 600;
        flex-basis: 30%;
    }
    .separador {
        flex-basis: 40%;
    }
    .descripcion {
        flex-basis: 30%;
        font-size: 10pt;
        font-weight: 500;
        color: lightgrey;
    }
}//serviciostexto
section.servicioscajas{
    .contenedor{
        a.caja {
            text-decoration: none;
            flex-basis: 32%;
            border: 1px solid $gris2;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 10px 0;
            transition: all .45s;
            &:hover{
                background-color: $blanco;
                border-color: $blanco;
            }
        }
        i {
            width: 100px;
            height: 100px;
            background: $gris2;
            border-radius: 50%;
            background-image: url('dorry/icon1.png');
            margin: 10px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 30%;
        }
        .caja span:nth-child(2) {
            color: black;
            font-weight: 500;
            margin: 10px 0;
        }
        .caja span:nth-child(3) {
            color: $gris;
            font-weight: 500;
            font-size: 9pt;
            text-align: center;
            margin: 10px;
        }
    }
}
section.how{
    background-image: url('dorry/fondo1.png');
    .contenedor{
        padding: 100px 0;
        flex-wrap: nowrap;
        align-items: center;
        .imagen {
            flex-basis: 50%;
            background-image: url(dorry/img1.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            flex-shrink: 0;
            height: 400px;
        }
        .texto {
            flex-basis: 50%;
            padding: 0 50px;
            color: $blanco;
            h1 {
                font-size: 25pt;
                font-weight: 400;
            }
            ol {
                margin: 0;
                font-size: 10pt;
                padding-left: 15px;
                li{
                    span{
                        margin: 15px 0px;
                        &:first-child {
                            font-weight: 600;
                            display: block;
                        }
                        &:last-child {
                            color: $gris;
                            font-weight: 200;
                        }
                    }
                }
            }
        }
    }
}
section.product{
    padding: 100px 0;
    text-align: center;
    h1 {
        font-size: 28pt;
        font-weight: 400;
    }
    .contenedor{
        .fondoGris {
            background-color: lightgray;
        }
        .celular {
            flex-basis: 40%;
            background-image: url(dorry/img2.png);
            background-size: 200px;
            background-repeat: no-repeat;
            background-position: center;
            min-height: 500px;
        }
        .cajas {
            flex-basis: 60%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            .caja {
                flex-basis: 50%;
                flex-shrink: 1 !important;
                flex-grow: 0 !important;
                max-width: 45%;
                .imagen {
                    height: 200px;
                    background-size: 220px;
                    background-repeat: no-repeat;
                    background-position: center;
                }
                h5 {
                    font-weight: 500;
                    text-align: left;
                    font-size: 12pt;
                    margin-bottom: 0;
                }
                p {
                    text-align: left;
                    color: lightgray;
                    font-size: 10pt;
                    margin-bottom: 30px;
                }
                &:nth-child(1), &:nth-child(2){
                    .imagen{
                        background-position: bottom;
                    }
                }
            }
        }
    }
}
/* Base */
@media only screen and (max-width: 1024px){
    body{
        background-color: aqua;
    }
}
@media only screen and (max-width: 768px){
    body{
        background-color:blueviolet;
    }
}
@media only screen and (max-width: 480px){
    body{
        background-color: rgb(183, 255, 0);
    }
}
@media only screen and (max-width: 386px){
    body{
        background-color: rgb(0, 26, 255);
    }
}